@model Plant;
<!-- Title for this view -->
@{
    ViewData["Title"] = "Plant Page";
}
<!-- View heading -->
<h2>@Model.Name's Details</h2>

<!-- Singular plant details page -->
<div>
    <hr />
    <dl class="container">
        <div class="col-md-3 agile_grid_right">
            <p class="fexi_header"><span>Plant ID: </span>@Model.Plant_Id</p>
            <p class="fexi_header"><span>Name: </span>@Model.Name</p>
            <p class="fexi_header_para"><span>Family: </span> @Model.Family </p>
            <p class="fexi_header_para"><span>Indoor or Outdoor: </span> @Model.IndoorOutdoor </p>
            <p><span>Image: </span><img src="@Model.Plant_Image" class="plantimg-display" alt="Responsive image"></p>
        </div>
    </dl>
</div>
<!-- Back button to index view -->
<hr />
<div>
    <a asp-controller="Plant" asp-action="Index" class="btn btn-primary">Back</a>
</div>